*{
   /* scrollbar-width: none; */
}

body{
    margin: 0;
    padding: 70px ;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80vh;
    border-radius: 25px;
   
}

.container{
    width: 300px;
    border-radius: 10px;
    /* padding: 20px; */
   /* height: 50%; */
    /* border: 2px solid orange; */
    background-color: black ;
    font-size: larger;

}


#equationsDisplay{
    /* width: 100px; */
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
    /* border: 1px solid red; */
    overflow-x: auto;
    scrollbar-width: none;  
    
}

#solutionDisplay{
    font-size: 50px;
    color: rgb(251, 251, 251);
    display: flex;
    justify-content: right;
}

.container{
    padding: 10px;
}

button{
    border: none;
    border-radius: 60px;
    width: 50px;
    height: 27px;
    /* margin: 5px; */
    font-size: 20px;
    color: white;
    background-color: rgb(83, 70, 70);
    box-shadow: 1px 1px 1px 1px black;
   
}

.ZeroButton{
    width: 100px;
    height: 27px;
    text-align: left;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
    height: 50px;
}

.btnContainer{
 /* border: 2px solid red; */
 /* width: 100%; */
 display: flex;
flex-direction: column;
 
}

.designColor{
    background-color: orange;
}